aiohttp==3.10.10
affine==2.4.0
awscli
botocore==1.35.23
click==8.1.7
dask==2024.9.1
datacube[s3,performance]==1.8.19
dea-tools==0.3.6.dev25
eo-tides==0.6.0
Fiona==1.10.1
geopandas==0.14.4
matplotlib==3.9.2
mdutils==1.5.0
numpy==1.26.4
odc-geo==0.4.8
odc-ui==0.2.1
pandas==2.2.3
pyproj==3.7.0
pyTMD>=2.2.1
python-geohash==0.8.5
pytz==2024.1
PyYAML==6.0.2
rasterio==1.4.1
scipy==1.14.1
scikit-image==0.24.0
scikit-learn==1.5.2
setuptools==75.1.0
shapely==2.0.6
tqdm==4.66.5
xarray==2024.9.0
