--extra-index-url=https://packages.dea.ga.gov.au/
aiohttp
affine>=2.3.0
botocore
click>=8.0.1
datacube[s3,performance]>=1.8.6
dea_tools>=0.2.8.dev26
Fiona>=1.8.20
geopandas>=0.10.2
matplotlib>=3.4.3
numpy>=1.21.4
odc-geo>=0.2.1
odc_ui>=0.2.0a2
pandas>=1.3.4
pygeos>=0.10.2
pyproj>=3.2.1
pyTMD>=1.0.9
python_geohash>=0.8.5
pytz>=2021.1
PyYAML<=5.5
rasterio>=1.2.9
scikit_image>=0.18.3
scikit_learn>=1.1.2
scipy>=1.9.0
setuptools>=60.7.0
Shapely>=1.8rc1
tqdm>=4.62.3
xarray>=0.21.1
